/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .list-view {
        display: block;
        background-color: white;
        margin: 0% 3% 5% 3%;
        min-height: 100%;
        padding-top: 3%;
    }
    .searchForm {
        width: 80%;
        margin-top: 1%;
        margin-right: 10%;
        margin-left: auto; 
    }
    
    .itemsList{
        display: grid;
        margin: 5%;
        grid-gap: 0.1%;
        grid-template-columns: repeat(2, 1fr);
    }   
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .list-view {
        display: block;
        background-color: white;
        margin: 0% 20% 5% 20%;
        padding-top: 3%;
    }
    .searchForm {
        width: 80%;
        margin-top: 1%;
        margin-right: 10%;
        margin-left: auto; 
    }
    
    .itemsList{
        display: grid;
        margin: 5%;
        grid-gap: 0.1%;
        grid-template-columns: repeat(2, 1fr);
    }   
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .list-view {
        display: block;
        background-color: white;
        margin: 0% 16% 5% 16%;
        padding-top: 1%;
    }
    .searchForm {
        width: 40%;
        margin-top: 1%;
        margin-right: 2%;
        margin-left: auto; 
    }
    
    .itemsList{
        display: grid;
        margin: 5%;
        grid-gap: 1%;
        grid-template-columns: repeat(3, 1fr);
    }   

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .list-view {
        display: block;
        margin: 0% 15% 5% 15%;
        padding-top: 2%;
    }
    .searchForm {
        width: 25%;
        margin-right: 2%;
        margin-left: auto; 
    }
    
    .itemsList{
        display: grid;
        margin: 5%;
        grid-gap: 0.5%;
        grid-template-columns: repeat(4, 1fr);
    }    
}